@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Jost', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 2.3rem;
    color: var(--text);
}

:root{
    --white: #fff;
    --bg-offWhite: #f4f4f4;
    --textWhite: #c6d8d7;
    --black0: #000;
    --black: #111;
    --text: #333;
    --darkGrey: #193335;
    --lightGrey: #394344;
    --shadow: 0 1rem 2rem rgba(0,0,0, .07);
    --btn-shadow: 0 0.8rem 1.5rem rgba(0,0,0, .15);
    --content-shadow: 0 1rem 5rem rgba(0,0,0, 0.25); 

}

html{
    font-size: 62.5%;  /* 1 rem = 10px */
}

/* Default Setting For HTML Elements */


h2,
h4{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 8rem;
    line-height: 1.1;
    font-weight: 300;
}

h2{
    font-size: 6rem;
    line-height: 1.1;
    font-weight: 300;
}

h3{
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 300;
    font-family:  'Jost', sans-serif;
}

a{
    text-decoration: none;
}

/* Header Section Starts */

.header{
    background: linear-gradient(rgba(0,0,0, .9), rgba(0,0,0, .9)),url(/images/header\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: var(--white);
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-lists{
    display: flex;
    gap: 6rem;
    padding: 5rem 0;
    list-style: none;
}

.navbar-links:link,
.navbar-links:visited{
    display: inline-block;
    transition: all 0.3s linear;
    color: var(--white);
}

.navbar-links::after{
    content: '';
    height: 0.1rem;
    width: 0%;
    background: var(--white);
    display: block;
    transition: all .5s cubic-bezier(0,.5,0, 1);
    -webkit-transition: all .5s cubic-bezier(0,.5,0, 1);
    -moz-transition: all .5s cubic-bezier(0,.5,0, 1);
    -o-transition: all .5s cubic-bezier(0,.5,0, 1);
}

.navbar-links:hover::after{
    content: '';
    height: 0.1rem;
    width: 100%;
    background: var(--white);
    display: block;
   
}

.header-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);;
}

.header-title p{
    font-size: 2.2rem;
    margin: 2rem 0 2.5rem;
    max-width: 70rem;
}

.needhelp-btn:link,
.needhelp-btn:visited{
    color: var(--white);
    border: 1px solid var(--white);
    margin-top: 2.5rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

}

.needhelp-btn:hover,
.needhelp-btn:active{
    background: var(--white);
    color: var(--black0);
}

/* Reusable Code */

.container{
    max-width: 118rem;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 10rem;
}

.section{
    padding: 12rem;
}

.common-heading{
    font-size: 6rem;
}

.common-heading::after{
    content: '';
    display: block;
    height: 0.2rem;
    width: 12rem;
    margin: 2rem 0 2.5rem;
    background: var(--darkGrey);
}

/* Work Section Starts */

.work-section-container{
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-top: 5rem;
}

.work-section-container:not(:last-child){
    margin-bottom: 18rem;
}

.work-section-data h3{
    font-size: 3.5rem;
}

.work-section-data p{
    max-width: 54rem;
    font-size: 1.8rem;
    margin-top: 2rem;

}

.work-section-data p:not(:last-child){
    margin-bottom: 2rem;
}

.work-section-data ul{
    font-size: 1.8rem;
    list-style: initial;
    list-style-position: inside;
    margin-bottom: 2rem;
}

.work-section-data .links{
    display: flex;
    align-items: center;
}

.work-section-data .links .git-icon{
    margin: 0 2rem;
    height: 2.6rem;
    display: block;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.git-icon:hover,
.git-icon:active{
    transform: scale(1.08);
}

.work-section-data .visit-btn:link,
.work-section-data .visit-btn:visited{
    
    color: var(--white);
    background-color: var(--black0);
    font-size: 1.8rem;
    padding: 0.3rem 2rem;
    border: 0.1rem solid var(--black0);
    box-shadow: var(--btn-shadow);
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    -webkit-transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    -moz-transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    -o-transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}


.work-section-data .visit-btn:hover,
.work-section-data .visit-btn:active{
    box-shadow: 0 1.9rem 1.5rem rgba(0,0,0, .15);;
}

.work-section-image{
    max-width: 72.6rem;
}

.work-section-image img{
    max-width: 100%;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    box-shadow: var(--content-shadow);
    margin-left: 4rem;
    
}

.work-section-image img:hover,
.work-section-image img:active{
    transform: scale(1.03);
    
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .8s ease;
    -webkit-transition: all .8s ease 0s;
    -moz-transition: all .8s ease 0s;
    -o-transition: all .8s ease 0s;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* Clients Section Starts */

.clients-section{
    background-color: var(--bg-offWhite);
}

.clients-section .common-heading{
    text-align: center;
}

.clients-section .common-heading::after{
    margin-left: auto;
    margin-right: auto;
}

.client-section-logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.client-section-logos img{
    height: 6.5rem;
    margin-top: 4.5rem;
}

/* Testimonial Section Starts */

.testimonial-section .common-heading{
    text-align: center;
}

.testimonial-section .common-heading::after{
    margin-left: auto;
    margin-right: auto;
}

.review-box{
    padding: 3rem;
    border: 1px solid #ddd;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .07);
    font-size: 2rem;
    text-align: center;
}

.review-content.image-container{
    margin-bottom: 2rem;
}

.review-content .image-container img{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}

.review-content .role{
    margin: 0.5rem 0 1rem;
    text-align: center;
}

.review-content p{
    text-align: justify;
}

/* About Section Starts */

.about-section .common-heading{
    text-align: center;
}

.about-section .common-heading::after{
    margin-left: auto;
    margin-right: auto;
}

.about-section{
    background-color: var(--bg-offWhite);
}

.about-container{
    padding: 4.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .07);
    max-width: 74rem;
    margin: 0 auto;
    background-color: var(--white);
}

.about-img{
    text-align: center;
    margin-bottom: 2rem;
}

.about-img img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    
}

.about-container p{
    font-size: 2.1rem;
}

/* Footer Area */

footer{
    background-color: var(--black0);
    padding: 7rem 0;
    
    color: var(--textWhite);
}

footer .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

footer .social-icons img{
    height: 3.5rem;
    width: 3.5rem;
    filter: invert(100%) grayscale(100%) opacity(0.8);
    transition: all .3s ease;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

footer .social-icons img:hover,
footer .social-icons img:active{
    transform: scale(1.08);
}

footer p{
    font-size: 2rem;
    text-align: center;
}

footer .name:link,
footer .name:visited{
    color: var(--white);
    
}

footer .name:hover,
footer .name:active{
    text-decoration: underline;
}

footer .to-top img{
    height: 4.2rem;
    width: 4.2rem;
}

footer .to-top{
    background-color: var(--bg-offWhite);
    position: fixed;
    bottom: 1.6rem;
    right: 3.2rem;
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.2rem;
    color: var(--text);
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    box-shadow: 0 1rem 5rem rgba(0,0,0, 0.50);
}

.to-top:hover,
.to-top:active{
    box-shadow: 0 1rem 5rem rgba(0,0,0, 0.75);
}

.to-top.active {
    bottom: 3.2rem;
    pointer-events: auto;
    opacity: 1;
}

















