@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Jost:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --white: #fff;
    --bg-offWhite: #f4f4f4;
    --textWhite: #c6d8d7;
    --black0: #000;
    --black: #111;
    --text: #333;
    --darkGrey: #193335;
    --lightGrey: #394344;
    --shadow: 0 1rem 2rem rgba(0, 0, 0, .07);
    --btn-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, .15);
    --content-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.25);

}

/* font-family: 'Josefin Sans', sans-serif; */

/* Basic Setup */

html {
    font-size: 62.5%;
}

body {
    font-weight: 300;
    font-size: 2.3rem;
    font-family: 'Jost', sans-serif;
    color: var(--text);
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 8.5rem;
}

h2 {
    font-size: 6rem;
}

h2::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 12rem;
    margin: 2rem 0px 2.5rem;
    background-color: var(--darkGrey);
}

h3 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--text);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 2.2rem;
    padding: 0.8rem 3rem;
    border-radius: 10rem;
    color: var(--darkGrey);
    transition: all 0.2s;
}

section {
    border-bottom: 1px solid #eee;
    padding: 12rem 0;
}

img {
    object-fit: contain;

}

ul {
    list-style-position: inside;
    font-size: 2rem;
}

/* Header Area */

header {
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(/images/header\ image.webp);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6rem;
    height: 13rem;
}

nav a {
    display: inline-block;
    transition: all 0.3s linear;
    color: var(--white);
}

nav a::after {
    content: '';
    height: 0.1rem;
    width: 0%;
    background: var(--textWhite);
    display: block;
    transition: all .5s cubic-bezier(0, .5, 0, 1);
    -webkit-transition: all .5s cubic-bezier(0, .5, 0, 1);
    -moz-transition: all .5s cubic-bezier(0, .5, 0, 1);
    -o-transition: all .5s cubic-bezier(0, .5, 0, 1);
}

nav a:hover::after,
nav a:focus::after {
    content: '';
    height: 0.1rem;
    width: 100%;
    background: var(--textWhite);
    display: block;

}

.header-text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);

}

.header-text-container p {
    max-width: 54rem;
    margin: 2rem 0 2.5rem;
}

.header-text-container .btn {
    margin-top: 2.5rem;
    color: var(--white);
    border: 1px solid var(--white);
}

.header-text-container .btn:hover,
.header-text-container .btn:focus {
    background-color: var(--white);
    color: var(--darkGrey);
}

/* Work Section */

.work-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-box:not(:last-child) {
    margin-bottom: 18rem;
}

.work-box-text {
    flex: 0 0 30%;
}

.work-box-text>*:not(h3) {
    margin-top: 2rem;
}

.work-box-text p {
    max-width: 54rem;
    font-size: 2rem;
}

.work-box-image img {
    max-width: 100%;
    box-shadow: var(--content-shadow);
    transition: all 0.5s;
}

.work-box-image img:hover,
.work-box-image img:focus {
    transform: scale(1.02);
}

.reveal {
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media (min-width:901px) {
    .work-box-image {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

.work-box-links {
    display: flex;
    align-items: center;
}

.work-box-links .btn-dark {
    background-color: var(--black0);
    color: var(--white);
    font-size: 1.9rem;
    padding: 0.5rem 2rem;
    box-shadow: var(--btn-shadow);
    transition: all 0.3s;
}

.work-box-links .btn-dark:hover,
.work-box-links .btn-dark:focus {
    box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, .35);
}

.gh-link img {
    display: block;
    height: 2.6rem;
    margin: 0 2rem;
    transition: all 0.2s;
}

.gh-link img:hover,
.gh-link img:focus {
    transform: scale(1.2);
}

/* Clients Section */

.clients-section {
    background-color: var(--bg-offWhite);
}

.clients-section h2 {
    text-align: center;
}

.clients-section h2::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkGrey);
}

.clients {
    padding-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.clients img {
    height: 8rem;
    max-width: 18rem;
}

/* Testimonial Section */

.testimonial-section h2 {
    text-align: center;
}

.testimonial-section h2::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkGrey);
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
}

.testimonial-box {
    padding: 3rem;
    border: 1px solid #ddd;
    box-shadow: var(--shadow);
    font-size: 2rem;
    text-align: center;
    max-width: 66rem;
    flex: 0 0 49%;

}

.testimonial-box-image img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.testimonial-box-text .role {
    margin: 0.5rem 0 1rem;
}

.testimonial-box-text p {
    text-align: justify;
}

/* About Section */

.about-section {
    background-color: var(--bg-offWhite);
}

.about-section h2 {
    text-align: center;
}

.about-section h2::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkGrey);
}

.about-box {
    max-width: 74rem;
    margin: 0 auto;
    padding: 4.5rem;
    border: 1px solid #ddd;
    box-shadow: var(--shadow);
    background-color: var(--white);
    font-size: 2.1rem;
}

.about-box-image {
    text-align: center;
}

.about-box-image img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}

.about-box-text {
    margin-top: 2rem;
}

.about-box-text p:not(:first-child) {
    margin-top: 3rem;
}

/* Contact Section */

.contact-box-text {
    max-width: 80.6rem;
}

.contact-box-text p:not(:last-child) {
    margin-top: 1rem;
}

.contact-box-text .btn {
    margin-top: 2.7rem;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black0);
    box-shadow: var(--btn-shadow);
}

.contact-box-text .btn:hover,
.contact-box-text .btn:focus {
    background-color: var(--black0);
    box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, .35);
}

/* Footer Area */

footer {
    padding: 7rem 0 5rem;
    color: var(--textWhite);
    background: var(--black0);
    text-align: center;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.social-icons img {
    height: 3.5rem;
    width: 3.5rem;

}

.footer-text {
    font-size: 2.1rem;
    padding-top: 3rem;
}

.footer-text a {
    color: var(--white);
}

.footer-text a:hover,
.footer-text a:focus {
    text-decoration: underline;
}

.to-top {
    background-color: var(--white);
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    height: 5.7rem;
    width: 5.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--content-shadow);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.to-top.active {
    bottom: 3.2rem;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover,
.to-top:focus {
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.55);
    ;
}

.to-top img {
    height: 4.2rem;
    width: 4.2rem;
}

/* Responsive Code */

@media (max-width:1340px) {
    .container {
        max-width: 110rem;
    }
}

@media (max-width:1240px) {
    .container {
        padding: 0 6rem;
    }

    .testimonial-container {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }
}

@media (max-width:1000px) {
    html {
        font-size: 52%;
    }
}

@media (max-width:900px) {
    .header-text-container h1 {
        font-size: 7.5rem;
    }

    .work-box {
        flex-direction: column-reverse;
        align-items: initial;
        margin-top: 4rem;
    }

    .work-box-text {
        margin-top: 3rem;
    }

}

@media (max-width:700px) {
    .header-text-container h1 {
        font-size: 7rem;
    }

    .header-text-container p {
        font-size: 2rem;
        max-width: 50rem;
    }

    .header-text-container p span {
        display: none;
    }

    .to-top {
        height: 4.8rem;
        width: 4.8rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .to-top img {
        height: 3.6rem;
        width: 3.6rem;
    }

}

@media (max-width:600px) {
    .container {
        padding: 0 3rem;
    }

}

@media (max-width:500px) {
    nav {
        justify-content: space-between;
    }

    .header-text-container h1 {
        font-size: 6.5rem;
    }

    .header-text-container p {
        font-size: 1.9rem;
        margin: 1rem 0 2.5rem;
    }

    h2 {
        font-size: 5rem;
    }

}

@media (max-width:500px) {
    html {
        font-size: 45%;
    }

    nav {
        justify-content: space-between;

    }

    .header-text-container .btn {
        margin-top: 2rem;

    }

    .work-box:not(:last-child) {
        margin-bottom: 10rem;
    }

}

@media (max-width:400px) {
    html {
        font-size: 40%;
    }

}